<html  data-theme="cupcake" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoSnap</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  

  </head>
  <body>
    <header>
      <div class="navbar bg-base-100">
        <a class="btn btn-ghost normal-case text-xl">GeoSnap</a>
      </div>
    </header>
    <section >
      <div class="flex w-full">
        <div class="grid h-screen flex-grow card bg-base-300 rounded-box place-items-center">
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img
              src=""
              alt=""
              class="w-full h-64 rounded-lg border border-gray-300"
              id="preview-image"
              style="display: none"
            /></figure>
            <div class="card-body">
              <form action="/" method="POST" enctype="multipart/form-data">
                <label
                  for="file-input"
                  class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                >
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg
                      aria-hidden="true"
                      class="w-10 h-10 mb-3 text-gray-400"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                      ></path>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                      <span class="font-semibold">Click to upload</span> or drag and
                      drop
                    </p>
                  </div>
                  <input
                    id="file-input"
                    type="file"
                    class="hidden"
                    name="dropzone-file"
                  />
                </label>
              <div class="card-actions justify-center">
                <input
          type="Submit"
          class="btn btn-primary"
          value="Submit"
        />
              </div>
              </form>
              <script>
                const input = document.querySelector("#file-input");
                const previewImage = document.querySelector("#preview-image");
          
                input.addEventListener("change", () => {
                  const file = input.files[0];
          
                  if (!file) {
                    return;
                  }
          
                  const reader = new FileReader();
          
                  reader.addEventListener("load", () => {
                    previewImage.src = reader.result;
                    previewImage.style.display = "block";
                  });
          
                  reader.readAsDataURL(file);
                });
          
                document
                  .querySelector('label[for="dropzone-file"]')
                  .addEventListener("click", () => {
                    input.click();
                  });
              </script>
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="grid h-screen flex-grow card bg-base-300 rounded-box place-items-center">
          <div class="card w-96 bg-base-100 shadow-xl">
            
            <div class="card-body items-center text-center">
              <h2 class="card-title">Location</h2>
              
              <div id="map-container">
                
               
              </div>
             
             
            </div>
          </div>
        </div>
      </div>
    </section>



  </body>
</html>
